* {
	margin: 0;
	padding: 0;
}

body {
	background: #E9ECF4;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
	font-family: arial;
	letter-spacing: 1px;
}
.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "header header header"
						 "contenido contenido sidebar"
						 "contenido contenido sidebar"
						 "footer footer footer";
}

.oculto{
    display:none;
}








.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
}

.contenedor .header {
	background: #12203E;
	color: #fff;
	grid-area: header;
}
.header h2{
	float:left;
}
.diaSemana{
	float:right;
}
.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100px;
	grid-area: sidebar;
}


.contenedor .footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

/*ESTILOS DEL LISTADO DE TRABAJADORES*/

table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
  }
  table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.blueTable thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 2px solid #444444;
  }
  table.blueTable tfoot td {
    font-size: 14px;
  }



/*=============ESTILOS PARA LOS BOTONES*/


.modtrabajador {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.modtrabajador:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.modtrabajador:active {
	position:relative;
	top:1px;
}


.borrartrabajador {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
}
.borrartrabajador:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.borrartrabajador:active {
	position:relative;
	top:1px;
}

.actualizarTrab {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:8px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.actualizarTrab:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.actualizarTrab:active {
	position:relative;
	top:1px;

}









.btn_new{
    font-size: 14pt;
    background:#12a4c6;
    padding:11px;
    color:white;
    letter-spacing: 1px;
    border:0;
    cursor:pointer;
	margin:15px 20px;
	display:inline;
}

#login{
	padding-left: 30%;
}
/*========MANEJADOR UL LI DEL SIDEBAR*/
li{
    list-style-type:none;
    position:relative;
    width:120px;
    }





/*================MODAL DEL NUEVO TRABAJADOR*/
.modalContainer {
	display: none; 
	position: fixed; 
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modalContainer .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid lightgray;
	border-top: 10px solid #58abb7;
	width: 60%;
}

.modalContainer .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modalContainer .close:hover,
.modalContainer .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
@media screen and (max-width: 768px){
	.contenedor {
		grid-template-areas: "header header header"
						 "contenido contenido contenido"
						 "sidebar sidebar sidebar"
						 "footer footer footer";
	}
}



